<h1>Cageflix</h1>

<h2>Netflix for Nic Cage movies</h2>

<%= link_to "Add Movie", new_movie_path %>

<%= @movies.each do |movie| %>
<ul>
<li><%= movie.name %></li>
<li><%= movie.year %></li>
<li><%= movie.synopsis %></li>
</ul>
<% end %>