<%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <ul>
      <% for message in @movie.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

  <dt>
  <dl><%= f.label :name %></dl>
  <dl><%= f.text_field :name %></dl>

  <dl><%= f.label :year %></dl>
  <dl><%= f.text_field :year %></dl>

  <dl><%= f.label :synopsis %></dl>
  <dl><%= f.text_field :synopsis %></dl>

  <dl><%= f.submit "Add Movie" %></dl>
  </dt>
<% end %>